.banner-slideshow{
    display: flex;
    justify-content: center;
    overflow-x: clip;
    padding: 10px;
    p{
        -webkit-text-stroke: 3px $primary;
        color: transparent;
        text-align: center;
        font-size: 160px;
        font-style: normal;
        font-weight: 500;
        line-height: 160px;
        text-transform: uppercase;
        white-space: nowrap;
        transform: rotate(-3.5deg);
        @include responsive{
            line-height: 45px;
            font-size: 45px;
            -webkit-text-stroke: 1px $primary;
        }
    }
}
.diagonal-spacer{
    position: relative;
    overflow-x: clip;
    margin-top: 86px;
    @include responsive{
        margin-top: 43px;
    }
    &:before{
        content: "";
        height: 20vh;
        transform: translateX(-50%) rotate(-3.5deg);
        width: 200vw;
        position: absolute;
        top: -3.0581310075242154vw;
        left: 50%;
        margin-bottom: calc(-20vh + 17px);
        z-index: -1;
        display: block;
        background-color: white;
    }
}
.diagonal-spacer{
    
    &.chaos-section{
        position: relative;
        margin-bottom: calc(423px / 2 + 128px);
        padding-bottom: calc(423px / 2 + 128px);

        @include responsive{
            padding-bottom: 20vw;
            margin-bottom: 20vw;
        }
        @include max{
            padding-bottom: 25vw;
            margin-bottom: 25vw;
        }
        .picture-divider{
            max-width: 1062px;
            max-height: 423px;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            @include responsive{
                height: unset;
                width: 80%;
            }
        }
        .chaos-section-first{
            @include responsive{
                padding-left: 1rem;
                padding-right: 1rem;
            }
            > div:first-child{
                z-index: 1;
                position: relative;
            }
            .paralax{
                top: 0;
                right: 0;
                position: absolute;
            }
        }
    }
    
}
.icon{
    &::before{
        font-family: "FontAwesome";
        height: auto;
        margin-right: 24px;
        @include responsive{
            margin-right: 8px;
        }
    }
    &.icon-chart{
        &::before{
            content: "\f201";
            color: $secondary;
        }
    }
    &.diagram-project{
        &::before{
            content: "\f542";
            color: $secondary;
        }
    }
}

.solutions-list{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    li{
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
            background-color: $primary-100;
            &::before{
                background-color: white;
            }
        }
        &::before{
            content: "";
            padding: 10px;
            border-radius: 5px;
            background-color: $primary-100;
            font-family: "FontAwesome";
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
        &.file-alt::before{
            content: '\f15c';
        }
        &.lock-alt::before{
            content: '\f023';
        }
        &.pie-chart::before{
            content: '\f200';
        }
        &.network-wired::before{
            content: '\f6ff';
        }
        &.chart-mixed::before{
            content: '\e473';
        }
        &.brake-warning::before{
            content: '\f06a';
        }
        &.trophy-star::before{
            content: '\f091';
        }
    }
}

.challenge-card{
    @include responsive{
        flex-direction: column-reverse;
    }
    .button{
        @include responsive{
            margin: 2rem auto;
        }
    }
    &.propilot{
        overflow: hidden;
        position: relative;
        @include responsive{
            flex-direction: column;
        }
        > div{
            &:first-child{
                z-index: 2;
            }
        }
        .half-circle{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 40%;
            z-index: 0;
            @include responsive{
                top: 100%;
                transform: translateY(-50%);
            }
        }
        .mockup{
            position: relative;
            @include responsive{
            }
        }
    }
}

.trustSection{
    margin-top: 86*2px;
    @include responsive{
        margin-top: 86px;

        .trust-header{
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
    }
}

.blog-section{
    @include responsive{
        padding: 0 1rem;
        margin-top: 50px !important;
    }
}

#call-to-action{
    > div{
        > div:last-child{
            @include responsive{
                padding: 0 1rem 1rem !important;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}